name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: dsa test 1
      id: dsa-test-1
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 20
        max-score: 100
        setup-command: ''
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        DSA-TEST-1_RESULTS: "${{steps.dsa-test-1.outputs.result}}"
      with:
        runners: dsa-test-1
